body{
  background-color: later;
}

h1{
  border: 5px solid later;
  padding: 12px;
  text-align: center;
  font-family: 'Patua One', sans-serif;
  font-size: 40 px;
  color: later;
}
h2{
  font-family: 'Capriola', sans-serif;
  font-size: 30px;
  color: later;
}
body{
  font-family: 'Baloo', sans-serif;
  font-size: 20px;
  color: later;
}
